* {
    margin: 0;
    padding: 0;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

img {
    width: 100%;
    display: block;
}

.header {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    color: red;
}

.japanese-header {
    width: 1em;
    margin: 1em auto;
    color: #2753A8;
    font-weight: 600;
    font-size: 1.75em;
    font-family : 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic' , 'メイリオ' , Meiryo , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif;
}

.join-game-modal {
    /* display: flex; */
    /* justify-content: center; */
    /* text-align: center; */
}

.blob {
    width: 200px;
    margin: 2rem auto 0;
}

.info-fields {
    backdrop-filter: blur(20px);
    margin-top: -59px;
    padding-top: 50px;
}

.btn {
    padding: 0.2em 2em;
    border: none;
    border-radius: 2.5em;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 1.2em auto;
    font-weight: 500;
    letter-spacing: .2em;
    text-transform: uppercase;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0px rgb(150, 150, 150);
}

.btn:hover,
.btn:focus {
    background: linear-gradient(65deg, red, orange);
    cursor: pointer;
    color: #fff;
}

.u-ded-modal {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 35vh;
    margin-top: 25vh;
    background: #E6DADA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #274046 -90%, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #274046 -90%, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 25px 25px #E6DADA;
}

.death-msg {
    font-family: 'Cinzel', serif;
    font-size: 5rem;
    color: #8a0303
}

.killer-blob {
    width: 200px;
}

#join-game-modal {
    position: absolute;
    width: 300px;
    padding: 1em;
    /* top: 0%; */
    left: 50%;
    /* bottom: 10%; */
    transform: translateX(-50%);
    margin: 20px auto;
    background-color: rgb(240, 240, 240);
    /* box-shadow: 0 0 1em 1em rgba(252, 252, 252, 0.2); */
}

#metamask {
    width: 8rem;
    display: inline-block;
}